body{
    background: url("images/foto-con-papa.jpg") ;
    background-size: contain;
    background-repeat: no-repeat;
    color: #222222;
    font-family: 'Goudy Bookletter 1911', serif;
    text-align: center;
}

h1{
    font-size: 48px;
}

p{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

